<div class="layout__content">
  <h2>Create wallet</h2>
  <form>
    <div class="field" data-controller="address">
      <label data-controller="hello">Wallet address</label>
      <br/>
      <input id="new_address" data-address-target="address"></input>
      <a href="wallets_index.html" id="link" data-action="address#add_wallet">Add Wallet</a>
    </div>
  </form>
</div>
